# Visual Studio temporary files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# NuGet packages
*.nupkg
packages/

# Rider / JetBrains
.idea/

# DotCover
*.dotCover

# Others
*.log
*.DS_Store
